$primary-palette: (
  50: #e2e2e2,
  100: #b8b8b8,
  200: #888888,
  300: #585858,
  400: #353535,
  500: #111111,
  600: #0f0f0f,
  700: #0c0c0c,
  800: #0a0a0a,
  900: #050505,
  A100: #ff4e4e,
  A200: #ff1b1b,
  A400: #e70000,
  A700: #ce0000,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$accent-palette: (
  50: #fee6f6,
  100: #fec0e8,
  200: #fd97d9,
  300: #fc6dc9,
  400: #fb4dbe,
  500: #fa2eb2,
  600: #f929ab,
  700: #f923a2,
  800: #f81d99,
  900: #f6128a,
  A100: #ffffff,
  A200: #fff1f8,
  A400: #ffbede,
  A700: #ffa4d1,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$warn-palette: (
  50: #fee2e9,
  100: #fcb6c8,
  200: #fa85a3,
  300: #f8547e,
  400: #f72f63,
  500: #f50a47,
  600: #f40940,
  700: #f20737,
  800: #f0052f,
  900: #ee0320,
  A100: #ffffff,
  A200: #ffe1e4,
  A400: #ffaeb5,
  A700: #ff959d,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
